<!-- templates/college_major_detail.html -->

{% extends 'base.html' %}

{% load static %}

{% block custom_stylesheets %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/majors_list.css' %}" rel="stylesheet">
{% endblock custom_stylesheets %}

{% block content %}
<div class="container">
    <h2>{{ object.college }}</h2>
    <hr>
    <h3>{{ object.major.name }} Advising Guide</h3>
    <hr>
    {% for course_type in course_types %}
    <h4>{{ course_type }}</h4>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Course Number</th>
                <th scope="col">Course Title</th>
                <th scope="col">Credits</th>
                <th scope="col">Equivalents</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object.courses.all %}
            {% if course.course_type.id == course_type.id %}
            <tr>
                <td><a class="course-link-color" href="{% url 'course_detail' course.id %}">{{ course.number }}</a></td>
                <td>{{ course.name }}</td>
                <td>{{ course.credits }}</td>
                <td>PCC, CCCC, MHCC</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>
      {% endfor %}

      <hr>

    </div>

{% endblock content %}
