<!-- templates/course_detail.html -->

{% extends 'base.html' %}

{% load static %}

{% block custom_stylesheets %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock custom_stylesheets %}

{% block content %}

<div class="container">
    <div>
        <h3>{{ object.number }} - {{ object.name }}</h3>
        <h4>{{ object.college.name }}</h4>
        <hr>
        <p>Credits: {{ object.credits }} </p>
        <p>Prereqs: {{ object.pre_reqs }}</p>
        <hr>
        <p>Description: {{ object.description }} <a class="course-link-color" href="{{ object.URL }}">Link</a></p>
    </div>
    <div>
        {% if articulation_list %}
            <hr>
            <h4>This course is equivalent to:</h4>
            {% for articulation in articulation_list %}
                <p>{{ articulation }}</p>
            {% endfor %}
        {% endif %}
    </div>        
</div>

{% endblock content %}
